<div class="docs-header" id="header" style="margin-bottom:0">
            <div class="container">
                <h1>avalon 2</h1>
                <p>迷你 、 易用 、 高性能 的前端MVVM框架</p>
            </div>
</div>

<script>
    window.addEventListener('load', function(){
        var el = document.querySelector('#header')
        var bb =  document.querySelector('#book-search-results') 
        bb.insertBefore(el, bb.firstChild)
    })
    
</script>
<style>
.docs-header {
  
  position: relative;
  padding: 30px 30px;
  color: rgba(255, 255, 255, 0.6);
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  background-color: #1ba9ba;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#0088a4), to(#1ba9ba));
  background-image: -webkit-linear-gradient(top, #0088a4 0, #1ba9ba 100%);
  background-image: -o-linear-gradient(top, #0088a4 0, #1ba9ba 100%);
  background-image: linear-gradient(to bottom, #0088a4 0, #1ba9ba 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0088a4', endColorstr='#1ba9ba', GradientType=0);
  background-repeat: repeat-x;
  margin-bottom: 40px;
  font-size: 20px;
  overflow: hidden;
  clear: both;
}

.docs-header h1 {
  margin-top: 0;
  color: #fff;
}

.docs-header p {
  margin-bottom: 0;
  font-weight: 300;
  line-height: 1.4;
}

.docs-header .container {
  position: relative;
}

</style>