/* CSS for website */
.markdown-section p{ 
    text-indent: 2em;
}


.docs-header {
  position: relative;
  width: 100%;
  z-index: 9999;
  padding: 30px;
  color: rgba(255, 255, 255, 0.6);
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  background-color: #1ba9ba;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#0088a4), to(#1ba9ba));
  background-image: -webkit-linear-gradient(top, #0088a4 0, #1ba9ba 100%);
  background-image: -o-linear-gradient(top, #0088a4 0, #1ba9ba 100%);
  background-image: linear-gradient(to bottom, #0088a4 0, #1ba9ba 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0088a4', endColorstr='#1ba9ba', GradientType=0);
  background-repeat: repeat-x;
  margin-bottom: 40px;
  font-size: 20px;
  overflow: hidden;
  clear: both;
}

.docs-header h1 {
  margin-top: 0;
  color: #fff;
}

.docs-header p {
  margin-bottom: 0;
  font-weight: 300;
  line-height: 1.4;
}

.docs-header .container {
  margin-left: 100px;
}

.logos {
    width: 980px;
    margin: 0 auto;
    padding: 20px;
    overflow: hidden;
    *zoom: 1;
}

.logos li{
    float: left;
    width: 140px;
    height: 140px;
    line-height: 140px;
    overflow: hidden;
    margin: 24px;
    text-align:center;
    background: #fff;
    border-radius: 10px;
}

.logos li:after,.logos li span{
    display:inline-block;
    *display:inline;
    *zoom:1;
    width:0;
    height:100%;
    vertical-align:middle;
}
.logos li:after{
    content:'';
}

.logos li img{
    display:inline-block;
    *display:inline;
    *zoom:1;
    vertical-align:middle;
    font-size:16px;
    width: 120px;
}
.logos li a{
    display: inline-block;
    width: 100%;
    height: 100%;
}
.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.jumbotron ul{
   margin-left:0px!important;
}
.jumbotron{
    border-radius: 6px;
    position: relative;
    padding: 5px 0;
    color: rgba(255, 255, 255, 0.6);
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
    background-color: #1ba9ba;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#0088a4), to(#1ba9ba));
    background-image: -webkit-linear-gradient(top, #0088a4 0, #1ba9ba 100%);
    background-image: -o-linear-gradient(top, #0088a4 0, #1ba9ba 100%);
    background-image: linear-gradient(to bottom, #0088a4 0, #1ba9ba 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0088a4', endColorstr='#1ba9ba', GradientType=0);
    background-repeat: repeat-x;

}
.jumbotron:after{
    position: static;
}
.projects-header {

    text-align: center;
    margin: 60px 0 10px;
    font-weight: 200;
    margin-bottom: 40px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.projects-header h1{
    color:#1ba9ba;
}
.projects-header p{
    color:#ccc;
}
